Flask
Authlib
flask-sqlalchemy
flask-migrate
pyodbc
python-dotenv
sqlalchemy
requests
gunicorn
psycopg2
google-cloud-storage
Flask-RESTful
Flask-Login
flask_cors
google-genai
flask-migrate